body {
  margin: 0;
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

#root, .app{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: column;
}

a:visited{
  color: rgb(185, 117, 146);
}

.app{
  padding-top: 80px;
  box-sizing: border-box;
}


/* Your code starts here */

.app.dark{
  background-color: #213547;
  color: #e0ebf4;
}

.app.light{
  background-color: #e0ebf4;
  color: #213547;
}

.app > nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.app > nav a,.app > nav button {
  border: 1px solid white;
  padding: 12px;
  border-radius: 12px;
}

.app > nav a:visited{
  color: white;
}

.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 24px;
  box-sizing: border-box;
}

.page a.back{
  position: absolute;
  top: 24px;
  left: 24px;
}

/* The navbar always has the inverse background color */
.app.dark > nav {
  background-color: #e0ebf4;
}

.app.light > nav {
  background-color: #213547;
}

.app > nav .left {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.app > nav .right {
  display: flex;
  justify-content: flex-start;
}

.app .products-page h1{
  text-align: center;
}

.products-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.products-list > .product{
  display: flex;
  gap: 24px;
  border: 1px solid gray;
  padding: 12px;
  align-items: center;
  border-radius: 12px;
}

.product-info h1{
  margin-bottom: 0;
}

.product-info{
  background-color: white;
  padding: 36px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.product-info button{
  border: 1px solid #213547;
  background-color: #213547;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
}